/node_modules
/vendor
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/.env
/.env.*
!/.env.example
/.git
/.gitignore
/.gitattributes
/.idea
/.vscode
/.fleet
/.zed
/.phpunit.cache
/.phpunit.result.cache
/phpunit.xml
/tests
/database/database.sqlite
npm-debug.log
yarn-error.log
*.log
.DS_Store
Thumbs.db
README.md
*.md
